body{
  margin: 0;
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;


}
.Background{
  display: flex; 
  width: 100vw;
  height: 100vh; 
}
.Blue{
  background-color: rgb(2, 0, 32);
  width: 100vw; 
  height: 100v; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
.Black{
  background-color: black;
  width: 15vw; 
  height: 100vh; 
  
}

.pic{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1fr;
  width: 50vw; 
  height: 100vh; 
}

.img{
  width: 100%;
  margin-right: 40%;
  margin-left: 15%;
  border: solid;
  border-color:  rgb(2, 0, 32);
  border-width: 15Px;
  border-radius: 10px;
}

.text-main{
  color: aliceblue;
  margin-left: 20%;
  margin-top: 0%;
  font-size:200%;
  font-weight: 50;
  text-align: center;
}

.text-name1,.text-name2{
  color: aliceblue;
  font-size: 300%;
  margin-left: 20%;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}
.button{
  width: 63%;
  margin-left: 20%;
  font-size: 160%;
  height: 20%;
}
.text-button{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  width: 50vw;
  margin-top: -10px;

}